/*reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #1e90ff; */
  background-image: url(../img/fundo.jpg);
  font-family: 'Source Code Pro', monospace;
  background-size: auto 100vh;
  height: 100vh;
  font-size: 10px;
}
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-widtj: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: 1s;
}
.menu a:active,
.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

a {
  color: teal;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
}

.nome {
  display: flex;
  align-items: center;
}

.contato,
.portifolio {
  padding: 2em;
  min-height: 100vh;
}

.contato h2,
.portifolio h2 {
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portifolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portifolio .grid {
    grid-template-columns: repeat(2, 240px);
    justify-content: center;
  }
}
@media (min-width: 880px) {
  .portifolio .grid {
    align-content: center;
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portifolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 5%;
  transition: 500ms;
}

.img-portfolio:active,
.img-portfolio:hover {
  transform: scale(1.1);
}

/* arrumar os icones pelo grid para adpedar com o tamanho de tela */
.contato .grid {
  text-align: center;
}
.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
